<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788030627658-vd38op57vb52nq9kn3sbkj39mg6v32ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788030627658-vd38op57vb52nq9kn3sbkj39mg6v32ve</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7UsgiuFhGny9kTD7xBkAHbYqtLWGRhU</string>
	<key>GCM_SENDER_ID</key>
	<string>788030627658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exercise6</string>
	<key>PROJECT_ID</key>
	<string>cmsc-23-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc-23-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788030627658:ios:26ef98f8207a11225aebb3</string>
</dict>
</plist>